div {
    p::first-letter {
      color: blue;
    }
  
    p:nth-child(even)::first-letter {
      color: orange;
    }
  
    p::before {
      content: "Welcome ";
      color: brown;
    }
  }
  
  div ~ p::after {
    content: " Bye";
    color: blue;
  }
  
  div p::first-line {
    font-size: 20px;
    color: green;
  }