$user: platinum;

p{
    @if $user == platinum {
        color: red;
    }
    @else if $user == silver_u{
        color: blue;
    }
    @else if $user == platinum {
        color: green;
    }
    @else{
        color: green;
    }
}